<%- include('../partials/head.ejs') %>
<body>
    <div class="wrap">
        <%- include('../partials/header.ejs') %>
  
        <div class="container">
        
    
        <h2 id="pokeName">Location: <span > <%=name%> </span> </h2>
            <div id="card">
            </div>
        </div>
    </div>
</body>
<%- include('../partials/footer.ejs') %>