<<<<<<< HEAD
<!DOCTYPE html>
<html>
  <body></body>
  <footer class="main-footer">
    
    <span>&copy;New Challenger Approaches <br> Nisa Cheng, Mark Calvelo, Ebony Warren</span>
   
</footer>
</html>
=======
<footer class="main-footer">
    <span>&copy;New Challenger Approaches <br> Nisa Cheng, Mark Calvelo, Ebony Warren</span>
   
</footer>
>>>>>>> 2e07667ba88659ca799cf15640dd9d3d45920e29
