<<<<<<< HEAD
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PikaBoo</title>
        <link rel="icon" href="/icon_path" type="images/pikachu.svg">
        <link rel="stylesheet" href="/style/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Fjalla+One&display=swap" rel="stylesheet">
</head>
<header class="main-header">
  <div class="container clearfix">
      <h1 class="name"> PikaBoo </h1> 
      <img id="pikachu-icon" src="/images/pikachu.svg" alt="pikachu-head-icon">
      <!-- <h2> Discover who's that pokemon!? </h2> -->
      <ul class="main-nav">
          <li> <a href="#"> Home</a></li>
          <li> <a href="#"> About</a></li>
          <li> <a href="#"> Contact</a></li>
          
      </ul>
  </div>
  </header> 
  <body></body>
</html>
=======
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
              <title>PikaBoo</title>
              <link rel="icon" href="icon_path" type="images/pikachu.svg">
              <link rel="stylesheet" href="style/style.css">
              <link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Fjalla+One&display=swap" rel="stylesheet">
  </head>
      <div class="wrap">
      <header class="main-header">
          <div class="container clearfix">
              <h1 class="name"> PikaBoo </h1> 
              <img id="pikachu-icon" src="/images/pikachu.svg" alt="pikachu-head-icon">
              <!-- <h2> Discover who's that pokemon!? </h2> -->
              <ul class="main-nav">
                  <li> <a href="#"> Home</a></li>
                  <li> <a href="#"> About</a></li>
                  <li> <a href="#"> Contact</a></li>
                  
              </ul>
           </div>
      </header>
>>>>>>> 2e07667ba88659ca799cf15640dd9d3d45920e29
