<header class="main-header">
  <div class="container clearfix">
      <h1 class="name"> PikaBoo </h1> 
      <img id="pikachu-icon" src="/images/pikachu.svg" alt="pikachu-head-icon">
      <!-- <h2> Discover who's that pokemon!? </h2> -->
      <ul class="main-nav">

          <li> <a href="#"> Home</a></li>
          <li> <a href="/views/types/type.ejs"> Types </a></li>
          <li> <a href="#"> Generations </a></li>
          <li> <a href="/views/items/index.ejs"> Random Items </a></li>
          <li> <a href="/views/signup/index.ejs"> Sign In </a></li>
      </ul>
   </div>
</header>