<header class="main-header">
  <div class="container clearfix">
      <h1 class="name"> PikaBoo </h1> 
      <img id="pikachu-icon" src="/images/pikachu.svg" alt="pikachu-head-icon">
      <!-- <h2> Discover who's that pokemon!? </h2> -->
      <ul class="main-nav">
          <li> <a href="#"> Home</a></li>
          <li> <a href="#"> About</a></li>
          <li> <a href="#"> Contact</a></li>
          
      </ul>
   </div>
</header>