<%- include('../partials/header.ejs') %>
<h1>Pokemon: <%=name%></h1>

<h3>Types</h3>
<ol>

     <% type.forEach(t => { %>
        <p><%= t.type.name %></p>
    <% }) %>

</ol>
<h3>Evolution Chain</h3>

<h3>Generation</h3>

<h3>Location</h3>

<%- include('../partials/footer.ejs') %>