
/* mobile view  */


html, body {
    overflow-x: hidden;
  }


body {
    margin: 0 auto;
    position: relative;
    width: 100%;
    background-position: center center;
    background-image: url("../images/pokemon.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
 
}



h1 {
    font-family: 'Fjalla One', sans-serif;
    color: white;
    display: inline;
    

}

h2 {
    font-family: 'Archivo Narrow', sans-serif;
    color: white;
    margin-top: 0;
}

.links {
    text-decoration: none;
    color: white;
    
}




#searchResults {
    font-family: 'Archivo Narrow', sans-serif;
    color: white;
    margin-bottom: -5%;
    font-size: 4vw;
    text-align: center;
}

#card {
    background-color: rgba(255,255,255,0.7);
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    border-radius: 2px;
    

}

#pokeName {
    font-family: 'Archivo Narrow', sans-serif;
    color: white;
    margin-top: 0;
    margin-bottom: -4%;
    text-align: center;
}

#pokeForm {
    background-color: rgba(105,190,251);
    margin-top: -5%;
    position: relative;
}


#likePoke {
    position: relative;
    left: 35%;
    margin-top: 10px;
}

#upperName {
    text-transform: uppercase;
}

#typeDisplay {
    text-align: center;
    color: white;
    font-family: 'Archivo Narrow', sans-serif;
    background-color: rgb(105,190,251);
}


.pokeInfo {
    text-align: center;
    color: white;
    font-family: 'Archivo Narrow', sans-serif;
    margin-top: -7%;
    font-size: 3.5vw;
    background-color: rgba(105,190,251);
}


#pokemonShow {
    text-align: center;
    color: white;
    font-family: 'Archivo Narrow', sans-serif;
    position: absolute;
    bottom: 100px;
    left: 10%;
}

#pokeGachaName {
    text-align: center;
}

.pokeGacha {
    position: relative;
    width: 30%;
    left: 34%;
}

#pokeEat {
    color: white;
    text-align: center;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 22px;

}

#levelUp {
    color: #04f801;
    text-align: center;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 25px;
    font-weight: 800;
}


#pokeSprite {
    padding: 0;
    margin-bottom: -7%;
    width: 60%;
    position: relative;
    left: 20%;
}

h3 {

    font-family: 'Archivo Narrow', sans-serif;
    color: white;
    margin-top: 0;

}

#pikachu-icon {
    width: 8%;

}



.main-header {
    text-align: center;
    width: 100%;
    margin-left: 2%;
}

.container img {
    display: inline-block;
}

li {
    font-family: 'Fjalla One', sans-serif;
    list-style-type:none;
    color: white;
   
} 


.name a,
.main-nav a {
display: block;
text-decoration: none;
color: white;

}


#searchEng {
    position: relative;
    top: 50px;
    left: 110px;
}

input[type="text"] {
    width: 300px;
    padding: 5px;
}

input[type="email"] {
    width: 60%;
    padding: 5px;
}


.search {
    position: relative;
    top: 100px;
}

#searchInput {
    position: relative;
    padding: 5px;
    width: 80%;
    font-size: 3vw;
    font-family: 'Archivo Narrow', sans-serif;
    border: none;
    border-radius: 2px;
    right: 18%;
}
    
    
    

#submit {
    position: relative;
    width: 25%;
    right: 25%;
    margin-top: 1%;
    padding: 5px;
    border: none;
    box-shadow: 1px 1px 4px grey;
    background-color: white;
    margin-left: 35%;
}

#submitImage {
    width: 18%;
}

#submit:hover {
    background-color: #afe66c;
    color: white;
}

#feedButton {
    width: 20%;
    position: relative;
    background-color: #afe66c;
    border: none;
    box-shadow: 1px 1px 4px grey;
    color: white;
    left: 25%;
    top: 10px;
    font-size: 20px;
    padding: 5px;
}


#shareButton {
    position: relative;
    border: none;
    box-shadow: 1px 1px 4px grey;
    left: 56%;
    padding: 5px;
    bottom: 22px;
    font-size: 20px;
    color: white;
    background-color: gray;
}


.signIn {
    position: relative;
    top: 100px;
    left: 20%;
    font-family: 'Archivo Narrow', sans-serif;

}

#signInPw {
    padding: 5px;
    width: 60%;
    margin-top: 2%;
}

.signInSubmit {
    background-color: #afe66c;
    border-style: none;
    color: white;
    padding: 6px;
    width: 25%;
    margin-top: 3%;
    position: relative;
    left: 17%;
}


#signUpLink {
    font-size: 2.5vh;
    position: relative;
    right: 5%;
    margin-top: 5%;
}


#signUpForm {
    position: relative;
    top: 150px;
    left: 8%;
}

.signUpInput {
    width: 300px;
    padding: 5px;
    margin-top: 1%;
}

.signUpButton {
    position: relative;
    padding: 10px;
    left: 27%;

}

.signInHeader {
    position: relative;
    left: 37%;
    top: 50px;
}


.signUpHeader {
    position: relative;
    left: 33%;
    top: 50px;
}


.wrap {
    min-height: calc(100vh - 50px);

}

.main-footer {
    color: white;
    height: 50px;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 3vw;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    background: linear-gradient(to bottom, #7cae71 0%, #009933 100%);
}



.index-title h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    position: relative;
    top: 4vh;
    text-transform: uppercase;
    
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 1%;
    padding-left: 100px;
    padding-right: 100px;
}


.typeCont {
    position: absolute;
    top: 20%;
    margin-left: -11%;
    width: 80%;
    padding-bottom: 100px;

}



.genCont {
    position: absolute;
    top: 50%;
    margin-left: 5%;
    width: 60%;
}


.itemCont {
    position: absolute;
    top: 40%;
    margin-left: -12%;
}


.flex-container div {
    background-color: rgba(235, 232, 50, 0.918);
    width: auto;
    height: 25px;
    margin: 10px;
    margin-left: 10px;
    text-align: center;
    font-size: 30px;
    padding: 2px;
    padding-top: 0;
    border-radius: 5px;
}
.index-items:link{
    text-decoration: none;
    color: rgb(42, 172, 195);
    font-family: monospace;
    font-size: 2vh;
    position: relative;
    bottom: 10px;
}


.index-items:hover{
    color: lightcoral;
    font-weight: bold;
}


.bottomNav {
    display: flex;
    justify-content:center;
    position: fixed;
    bottom: 0;
    /* width: 100%; */
    width: 100%;
    background-color: rgba(255,255,255,0.3);
    
}

.navContainer {
    display: inline-block;
}

.bottomNavList {
    display: inline-block;
    position: relative;
    width: 100%;
    /* right: 14%; */
    padding: 0px;
}

.bottomNavList li {
    padding: 0px 10px;
    display: inline-block;
    /* margin-left: 40px; */
    font-size: medium;
}

.imgResize {
    width: 30px;
   
    
}

.demoSize{
    
}

@media only screen and (max-width: 370px) {

/* .bottomNavList {
    right: 10%;
} */


/* .bottomNavList li {
    margin-left: 30px;
} */

#pokemonShow {
    position: absolute;
    top: 480px;
    left: 6%;
}




}


/* Desktop view */
@media only screen and (min-width: 769px) {
    .demoSize{
        max-width: 400px; 
        margin: auto;
    }
    .bottomNav {
        width: 400px;
    }

    .index-title h2{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 35px;
    }

    .flex-container{
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin-left: 1%;
        padding-left: 100px;
        padding-right: 100px;
    }


    .typeCont {
        position: absolute;
        top: 200px;
        left: 70px;
    }


    .genCont {
        position: absolute;
        top: 200px;
        margin-left: 12%;
        width: 68%;
    }


    .itemCont {
    position: absolute;
    top: 25%;
    left: 10%;
    }


    .flex-container div {
        background-color:rgba(235, 232, 50, 0.918);
        width: auto;
        height: 1.3vw;
        margin: 10px;
        text-align: center;
        line-height: 35px;
        font-size: 30px;
        padding: 10px;
        border-radius: 10px;
    }
    .index-items:link{
        text-decoration:none;
        color: rgb(42, 172, 195);
        font-family: monospace;
    }
    .index-items:hover{
        color: lightcoral;
    }

.wrap {
		min-height: calc(100vh - 50px);
   
	}

.container {
		width: 80%;
		max-width: 1150px;
		margin: 0 auto;
    }
    

#searchResults {

    font-size: 2vw;


}

#card {
    width: 30%;
    margin-left: 35%;
    margin-top: 5%
}

#pokeSprite {
    padding: 0;
    margin-bottom: -7%;
    width: 60%;
    text-align: center;
}

#pokeName {
    font-family: 'Archivo Narrow', sans-serif;
    color: white;
    margin-top: 60px;
    text-align: center;
    font-size: 1.7vw;
}

#typeDisplay {
    font-size: 1.5vw;
    margin-right: 0;
    margin-top: 10%;
    margin-bottom: -2%;
    color: white;


}


.pokeInfo {
    margin-top: -2%;
    font-size: 1.5vw;
    background-color: rgba(105,190,251);
    margin-bottom: -1%;
    padding: 1%;
    padding-bottom: 5%;

}

#signInHeader {
    margin-top: 4%;
    position: relative;
    left: 46%;
    top: 50px;
}

.signIn {
    position: relative;
    top: 100px;
    left: 20%;
    font-family: 'Archivo Narrow', sans-serif;

}

#signInPw {
    padding: 5px;
    width: 23%;
}

#signInSubmit {
    background-color: #afe66c;
    border-style: none;
    color: white;
    padding: 6px;
    width: 8%;
}


.name {
    padding: 10px;
    float: left;
}

.main-nav {
    float: right;
    padding-top: 0;
    padding-bottom: 0;
}

.main-nav ul {
 margin-right: 10%;
}

h1 {
    margin-top: 4%;
}

.name, .main-nav,
li 
{
    font-size: 2vw;
    display: inline-block;
    
}  


.name a, .main-nav a {
margin-left: 15px;
}

 #pikachu-icon {
  width: 6%;
  margin-top: 3%;
  float: left;
 }


 li {
     font-size: 1.3vw;
 }



 #searchEng {
    top: 200px;
    left: 200px;
 }


 #searchInput {
    width: 50%;
    font-size: 1vw;
    margin-left: 10%;
   
 }


 #submit {
    width: 15%;
    font-size: 1vw;
    margin-left: 50%;
 }

 .main-footer {
    font-size: 1vw;
    position: fixed;
    bottom: 0;
    width: 100%;
}
}



.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

a:hover {
    font-size: 2.0vw;
}


