<%- include('partials/head.ejs') %>
<body>
    <div class="wrap">
        <%- include('partials/header.ejs') %>
  
    <div class="container">
        
        <h2 id="searchResults"> Error ... </h2>
        <br>
    
        <h2 id="pokeName">Were sorry, there seems to be an error with this page. </h2>
        <p id="pokeName"><%= err %></p>
        
    </div>
    </div>
</body>
<%- include('partials/footer.ejs') %>