<%- include('partials/header.ejs') %>

<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD
    
    <body>
        <div class="wrap"> 
=======

>>>>>>> 2e07667ba88659ca799cf15640dd9d3d45920e29
            <div class ="container">

                <form id="searchEng" action="/pokemon" method="post">
                    <input type="text" id="searchInput" name="searchInput" placeholder=" &#128269; Who's that pokemon!?" ><br>
                    <button id="submit" type="submit" formaction="/pokemon/">I choose you! <img id="submitImage" src="/images/pokeball.svg" alt=""></button>
                </form>

            </div>
    
    
        </div>
<<<<<<< HEAD
   

=======
    
>>>>>>> 2e07667ba88659ca799cf15640dd9d3d45920e29
    </body>
</html>

<%- include('partials/footer.ejs') %>
