<%- include('partials/header.ejs') %>

<!DOCTYPE html>
<html lang="en">
    
    <body>
        <div class="wrap"> 

            <div class ="container">

                <form id="searchEng" action="/pokemon" method="post">
                    <input type="text" id="searchInput" name="searchInput" placeholder=" &#128269; Who's that pokemon!?" ><br>
                    <button id="submit" type="submit" formaction="/pokemon/">I choose you! <img id="submitImage" src="/images/pokeball.svg" alt=""></button>
                </form>

            </div>
    
        </div>
    
    </body>
</html>

<%- include('partials/footer.ejs') %>
