<%- include('../partials/header.ejs') %>
    <body>
        <ol>
            <% for (let i = 0; i < 10; i ++) %>
                items[Math.floor()]
            <%  %>
        </ol>

        <script>

        </script>
    </body>
</html>

<%- include('../partials/footer.ejs') %>