<%- include('../partials/head.ejs') %>
    <body>
        <div class="wrap">
        <%- include('../partials/header.ejs') %>
        <ol>
            <% for (let i = 0; i < 20; i ++) { %>
                <p>
                <%= items[Math.floor((Math.random() * items.length ))].name %>
                </p>
            <% } %>
        </ol>
        </div>
    </body>

<%- include('../partials/footer.ejs') %>