<%- include('../partials/head.ejs') %>
    <body>
        <div class="wrap">
            <%- include('../partials/header.ejs') %>
            <div class="index-title"><h2>Items</h2></div>
            <div class="flex-container">
                <% for (let i = 0; i < 20; i ++) { %>
                    <div class="index-items">
                    <%= items[Math.floor((Math.random() * items.length ))].name %>
                    </div>
                <% } %>
            </div>
        </div>
    </body>

<%- include('../partials/footer.ejs') %>