<%- include('../partials/header.ejs') %>

<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="robots" content="noindex, nofollow">
        <meta http-equiv="refresh" content=""
    </head>
    <body>
        
    </body>
</html>

<%- include('../partials/footer.ejs') %>