<%- include('../partials/header.ejs') %>
    <body>
        <ol>
            <% for (let i = 0; i < 20; i ++) { %>
                <p>
                <%= items[Math.floor((Math.random() * items.length ))].name %>
                </p>
            <% } %>
        </ol>

        <script>

        </script>
    </body>
</html>

<%- include('../partials/footer.ejs') %>