<%- include('../partials/head.ejs') %>
<body>
    <div class="wrap">
    <%- include('../partials/header.ejs') %>
    <div class="index-title"><h2>Types</h2></div>
        <div class=" typeCont flex-container">
    
                <% types.forEach(t => { %>
                    <div><a href="/types/<%= t.name %>" class = "index-items" style = "text-transform: uppercase;"> <%= t.name.replace(/-/g," ") %></a></div>
                <% }) %>
     
        </div>
    </div>
    <footer class="bottomNav">
        <div class="navContainer">
        <ul class="bottomNavList">
            <li>
                <a href="/users">  <img class="imgResize" src="https://www.iconsdb.com/icons/preview/white/home-3-xxl.png" alt=""> </a>
               
            </li>
            <li>
                <a href="/">
                    <img class="imgResize" src="https://www.iconsdb.com/icons/preview/white/search-xxl.png" alt="">
                </a>
                
            </li>
            <li> 
                <a href="/types">
                <img class="imgResize" src="https://www.iconsdb.com/icons/preview/white/tree-structure-xxl.png" alt="">
                </a>
                
            </li>
            <li> <a href="/signin">  <img class="imgResize" src="https://www.iconsdb.com/icons/preview/white/user-xxl.png" alt=""> </a>
               
            </li>
        </ul>
    </div>
    </footer>
</body>
