
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>

        <% types.forEach(t => { %>
            <p><%= t.name %></p>
        <% }) %>
    </body>
    <%- include('../partials/footer.ejs') %>

