<%- include('../partials/head.ejs') %>

<header class="main-header">
    <div class="container clearfix">
        <h1 class="name"> PikaBoo </h1> 
        <img id="pikachu-icon" src="/images/pikachu.svg" alt="pikachu-head-icon">
     </div>
  </header>
<body>
    <div class="wrap">
        <h2><%= user.username %></h2>
        <br>
        <h3 id="pokeGachaName">Your Pokemon</h3>
        <p id="pokemonShow">Click here to learn more about your pokemon :3</p>
        <img class="pokeGacha" src="https://i.gifer.com/WnES.gif" alt="pokemonPlaceholder">
        <br>
        <button id="feedButton"> Feed </button>
        <br>
        <button id="shareButton"> Share ➤ </button>

    </div>

