<%- include('../partials/head.ejs') %>

<header class="main-header">
    <div class="container clearfix">
        <h1 class="name"> PikaBoo </h1> 
        <img id="pikachu-icon" src="/images/pikachu.svg" alt="pikachu-head-icon">
     </div>
  </header>
<body>
    <div class="wrap">
        <h3 id="pokeGachaName">Your Pokemon</h3>
        <p id="pokemonShow">Click here to learn more about your pokemon :3</p>
        <p id="pokeEat" name="pokeEat"> </p>
        <img class="pokeGacha" src="https://i.gifer.com/WnES.gif" alt="pokemonPlaceholder">
        <br>
        <button onclick="feedPoke()" id="feedButton"> Feed </button>
        <br>
        <button id="shareButton"> Share ➤ </button>


        <footer class="bottomNav">
            <div class="navContainer">
            <ul class="bottomNavList">
                <li>
                    <a href="/users">  <img class="imgResize" src="https://www.iconsdb.com/icons/preview/white/home-3-xxl.png" alt=""> </a>
                   
                </li>
                <li>
                    <a href="/">
                        <img class="imgResize" src="https://www.iconsdb.com/icons/preview/white/search-xxl.png" alt="">
                    </a>
                    
                </li>
                <li> 
                    <a href="/types">
                    <img class="imgResize" src="https://www.iconsdb.com/icons/preview/white/tree-structure-xxl.png" alt="">
                    </a>
                    
                </li>
                <li> <a href="/signin">  <img class="imgResize" src="https://www.iconsdb.com/icons/preview/white/user-xxl.png" alt=""> </a>
                   
                </li>
            </ul>
        </div>
        </footer>

        <script>
            let pokeEat = 'Yummy! <3';
            function feedPoke() {
                    document.getElementById("pokeEat").innerHTML = pokeEat;
            }
        </script>



    </div>

